[tool.poetry]
name = "warnet-bot"
version = "1.8.0"
description = "A bot for Warga Nusantara Teyvat (WARNET) discord server"
authors = ["Iqrar Agalosi Nureyza <misteriqrar@gmail.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/Iqrar99/WarnetBot"

[tool.poetry.dependencies]
python = "^3.10"
python-dotenv = "^0.21.1"
asyncpg = "^0.27.0"
discord-py = "^2.3.2"
pytz = "^2022.7.1"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.1"
black = "^23.7.0"
taskipy = "^1.12.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ["py39", "py310", "py311"]
skip-string-normalization = true

[tool.taskipy.tasks]
start = "python -m bot"