[tool.poetry]
name = "warnet-bot"
version = "1.10.0"
description = "A bot for Warga Nusantara Teyvat (WARNET) discord server"
authors = ["Iqrar Agalosi Nureyza <misteriqrar@gmail.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/warnet-gi/WarnetBot"

[tool.poetry.dependencies]
asyncpg = "^0.27.0"
discord-py = "^2.3.2"
feedparser= "^6.0.11"
imagetext-py = "^2.1.3"
pillow = "^10.0.0"
python = "^3.10"
python-dotenv = "^0.21.1"
pytz = "^2022.7.1"
ratelimit = "^2.2.1"
taskipy = "^1.12.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.1"
black = "^23.7.0"
isort = "^5.12.0"
pytest-cov = "^4.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ["py39", "py310", "py311"]
skip-string-normalization = true

[tool.isort]
profile = "black"
py_version = 310
split_on_trailing_comma = true
force_alphabetical_sort_within_sections = true
multi_line_output = 5
group_by_package = true
line_length = 100
skip_gitignore = true

[tool.taskipy.tasks]
start = "python -m bot"